body {
  background-color: rgb(223, 223, 223);
}

#calcLayout {
  background-color: rgb(187, 187, 206);
  width: 157px;
  height: 145px;
  margin: 0 auto;
  border: solid black 3px;
  border-radius: 5%;
  box-shadow: 2px 2px rgb(94, 94, 94);
}

#calcDisplay {
  background-color: rgb(204, 163, 73);
  width: 154px;
  height: 17px;
  border: solid black 2px; 
  text-align:right;
}

.calcButtons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;  
}

button {
  width: 35px;
  border-radius: 35%;
  border-width: 1px;
  box-shadow: 2px 3px;
  margin: 1.5px;
}
